
:root {
  --accent-color: saddlebrown;
  --selected-color: gold;
  --member-color: goldenrod;
  --affiliate-color: #9BAABF;
  --hexagon-width: 8rem; /* MUST BE IN REM UNITS */
}

body {
  margin: 0;
}
#spinner-container {
  display: none;
}
#spinner-container.show {
  z-index: 10000;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
#spinner {
  fill: var(--member-color);
}
#spinner.animate {
  animation: spin 5s linear 0s infinite;
}
#spinner-container.error #spinner {
  fill: red;
}
@keyframes spin{
  from { transform: rotate(0deg)}
  to { transform: rotate(360deg)}
}

#hive {
  grid-area: hive;
  overflow: hidden;
  background-image: url("beehive.png");
  background-color: rgba(0, 0, 140, 0.5);
  background-blend-mode: luminosity;
  background-size: cover; 
  background-repeat: no-repeat;
  padding: 0 20px;
  min-height: 100vh;
}
#people {
  grid-area: 'people';
}

#people ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

@media screen and (min-width: 1000px) {
  body {
    display: grid;
    grid-template-areas: 
      "people hive";
    grid-template-columns: auto 1fr;
  }

  #people ul {
    position: sticky;
    top: 0;
    list-style: none;
  }
}

@media screen and (max-width: 999px) {
  body {
    display: grid;
    grid-template-areas: 
      "hive"
      "people";
    grid-template-columns: 1fr;
  }

  #people {
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 10000;
  }

  #people ul {
    margin-top: 8px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

li {
  color: var(--accent-color);
  padding: 2px 8px;
  white-space: nowrap;
  cursor: default;
  user-select: none;
  background-image: linear-gradient(to right, rgba(100, 100, 180, 0.2) 50%, transparent 50%);
  background-size: 200% 200%;
  background-position: 100%;
  transition: background-position .5s;
}
li.selected {
  color: black;
  background-image: linear-gradient(to right, var(--selected-color) 50%, transparent 50%);
  background-size: 200% 200%;
  background-position: 0%;
}
li.member {
  background-image: linear-gradient(to right, var(--member-color) 50%, transparent 50%);
  background-size: 200% 200%;
  background-position: 0%;
}
li.affiliate {
  color: darkslategray;
  background-image: linear-gradient(to right, var(--affiliate-color) 50%, transparent 50%);
  background-size: 200% 200%;
  background-position: 0%;
}
.row {
  display: flex;
}
.row:not(:first-child) {
  margin-top: calc(-0.296875 * var(--hexagon-width) + 2px);
}

.row:nth-child(2n) {
  margin-left: calc(0.5 * var(--hexagon-width) + 1px);
}

:not(.client-minor) + .client-minor {
  margin-top: 0px;
}

.hex {
  margin-right: 2px;
  position: relative;
  pointer-events: none;
  user-select: none;
  min-width: var(--hexagon-width);
  transition: .5s opacity, .5s transform;
}
.hex.hidden {
  /*visibility: hidden;*/
  opacity: 0;
  transform: scale(.2);
}

.hex polygon {
  fill: var(--member-color);
  pointer-events: fill;
}
.hex text {
  fill: var(--accent-color);
  font-weight: bold;
}
.hex.affiliate polygon {
  fill: var(--affiliate-color);
}
.hex.affiliate text {
  fill: darkslategray;
}
.hex.selected polygon {
  fill: var(--selected-color);
}
.hex.selected text {
  fill: black;
}
.hex.hidden polygon {
  pointer-events: none;
}
